Python==3.8.13
NumPy==1.24.4
Pandas==2.0.3
Matplotlib==3.7.5
SciPy==1.10.1
Scikit-Learn==1.3.2
TensorFlow==2.10.0
Keras==2.10.0
Seaborn==0.13.2
Plotly==5.24.1
OpenAI==0.28.0
Ray==2.10.0
FastAPI==0.115.4
SQLAlchemy==1.4.41
pip==22.2.2
Uvicorn==0.32.0
grpcio==1.67.0
PyArrow==17.0.0